{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'killer_app/style.css' %}">
 
{% block content %}
	{% if user.is_authenticated %}
		<div>

			{% if not user.player.is_in_game %}

					<h3>Create a New Game</h3>
					<br>
					<form method="post" action="/killer_app/create/" class="form-group">
						{% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<label for="game_name">Créer la partie </label>   
								<input id="game_name" type="text" name="game_name" value="game">
								
                                <label for="player_name">en tant que </label>   
                                <input id="player_name" type="text" name="player_name" value="{{user.username}}">

								<button name="save" type="submit" class="btn btn-success">Create</button>

							</div>
						</div>
					</form>

			{% else %}
				<h1> You are already in Game </h1>
			{% endif %}
		
		</div>
	{% endif %}
{% endblock %} 


