{% extends 'base.html' %}

{% load static %}



{% block page_title %}
<h1> Hello {{ user.username|default:'Guest' }}, Welcome to the Killer Game !</h1>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

        {% if not user.player.is_in_game %}
            <div> 
                <a href="{% url 'create' %}"> Start a game </a>
                <a href="{% url 'join' %}"> Join a game </a>
                
            </div>
        {%else%}
            <p> You are Playing in game </p>
            <a href="/killer_app/{{ game_id }}/">{{ game_name }}</a>
        {%endif%}

    {%endif%}
{% endblock %}






