{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'killer_app/style.css' %}">

<h1> Hello, {{ user.username|default:'Guest' }}, Welcome to the Killer Game !</h1>

{% if game_list %}
<ul>
{% for game in game_list %}
    {% if user.player.created and user.player.created == game%}
    <li><a href="/killer_app/{{ game.unique_id }}/">{{ game.name }} You are the creator</a></li>
    {% else %}
    <li><a href="/killer_app/{{ game.unique_id }}/">{{ game.name }}</a></li>
    {% endif %}
{% endfor %}
</ul>
{% endif %}

<form method="post" action="/killer_app/join/" class="form-group">
    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
        <label for="search">Search</label>   
        <input id="search" type="text" name="search" value="Your search">
        <button name="save" type="submit" class="btn btn-success">Search</button>
        </div>
    </div>
</form>

<div>
	<a href="{% url 'index' %}"> Home </a>
</div>
