
body {
    
    background-color: rgb(177, 138, 214);
}



div {
    font-size: large;
    font-family: sans-serif;
}


h1 {
    background-color: rgb(177, 0, 214);
    font-family: cursive;
    text-align: center;
    color: white;
}


.account_details, .main_content{
    display: block;
}

span.helptext {
    display: none;
}

h2 {
    text-align: center;
}

li.alive_player{ 
    color: green;
}

li.not_alive_player{ 
    color: red;
}

.nobull {
    list-style-type: none;
}

