
body {
    background-color: rgb(177, 138, 214);
}

div {
    font-size: large;
    font-family: sans-serif;
}

aside {
    border: 2px solid black;
    padding: 10px;
    height: 100px;
}

.corps {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.main_content {
    flex-direction: row-reverse;
    justify-content: center;
    justify-content: space-evenly;
    border: 2px solid black;
    padding: 10px;
}

.page_title {
    background-color: rgb(177, 0, 214);
    font-family: cursive;
    text-align: center;
    color: white;
}


.account_details
{
    display: flex;
    flex-direction: column;
}

.en_jeu
{
    text-align: center;
}

a{
    text-align: center;  
}

span.helptext {
    display: none;
}

h2 {
    text-align: center;
}

li.alive_player{ 
    color: green;
}

li.not_alive_player{ 
    color: red;
}

.nobull {
    list-style-type: none;
}

a.account_link
{
    display: flex;
    flex-direction: column;
    padding: 10% 5%;
}

footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: rgb(177, 0, 214);
}

